<!DOCTYPE html>
<html>
<head>
  <title>Epicurious</title>
  <link rel='stylesheet' href='css/style.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="jumbotron" style="
    padding-left: 75px;
    padding-right: 15px;
    height: 146px;
    margin-bottom: 0px;
">
<p class = "one">
  <h1>Recipe Box</h1>
</p>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
