<h3>Add a New Recipe</h3>
<form action="/recipes" method="post">
  <label for="name">Enter in the name of the recipe</label>
  <input id="name" name="name" class='form-control' placeholder="Name of the Recipe" required>
  <label for='instruction'>Enter in the instructions for the recipe</label>
  <input id="instruction" name="instruction" class='form-control' placeholder="Instructions" required>
  <label for="category_id">Select a Category</label>
  <select id='category_id' name='category_id' type='text'>
    <% @categories.each() do |category| %>
    <option value="<%= category.id()%>"> <%= category.description() %> </option>
    <% end %>
  </select>
  <button type="submit">Add Recipe</button>
</form>
