<% if @categories.any?() %>

  <h3>Add a New Recipe</h3>
  <form action="/recipes" method="post">
    <label for="name">Enter in the name of the recipe</label>
    <input id="name" name="name" class='form-control' placeholder="Name of the Recipe" required>
    <label for='instruction'>Enter in the instructions for the recipe</label>
    <input id="instruction" name="instruction" class='form-control' placeholder="Instructions" required>
    <label for="rating_dropdown">Edit Rating</label>
    <select id='rating_dropdown' name='rating_dropdown' type='text'>
      <option value="1"> 1 </option>
      <option value="2"> 2 </option>
      <option value="3"> 3 </option>
      <option value="4"> 4 </option>
      <option value="5"> 5 </option>
    </select>

      <% @categories.each() do |category| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="category_ids[]" value="<%= category.id() %>"><%= category.description() %>
          </label>
        </div>
      <% end %>

    <button type="submit">Add Recipe</button>
  </form>

<% else %>

  <p>There are no categories yet. Please make a category first.</p>
  <a class='btn btn-default' href='/' role='button'>Back</a>

<% end %>
